/* all-courses.component.scss */

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 עמודות בכל שורה */
  gap: 20px; /* מרווח בין הפריטים */
}

.course {
  max-width: 20vw;
  margin-bottom: 20px; /* מרווח בין הכרטיסים למטה */
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5vw; 
  margin-top: 5vw; 
}

.bold-label {
  font-weight: bold;
  color: rgb(35, 17, 177);
}


.form-select {
  width: 15%;
}


