.login-container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group i {
    position: absolute;
    right: 10px; /* התאמה לימין */
    top: 50%;
    transform: translateY(-50%);
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: calc(100% - 28px); /* נכניס את הרוחב המבוקש עם קצת התחשבות ברוחב של האייקון */
    padding: 10px;
    margin: 0;
    border: 1px solid #007bff;
    border-radius: 3px;
    box-sizing: border-box; /* נוסיף זאת כדי שהפריט ישאב את הרוחב כולו כולל padding ו-border */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input:hover {
    background-color: rgb(11, 113, 150);
  }
  
  button:hover {
    background-color: rgb(91, 183, 217);
  }
  