<!-- 
<div class="card flex justify-content-center" *ngIf="course">
  <p-card [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="{{ course?.name }}" [src]="course?.image" />
    </ng-template>
    <div>
      <div *ngIf="showLimitedDetails">
        <h2>{{ course?.name }}</h2>
        <p>מספר השיעורים: {{ course?.countLessons }}</p>
        <p>אופן הלמידה: {{ getLearningWay(course?.learningWay) }}</p>
        {{'0' |'1'}}
      </div>
      <div *ngIf="!showLimitedDetails">
        <h2>{{ course?.name }}</h2>
        <p>קטגוריה: {{ getCategoryIcon(course?.categoryId) }}</p>
        <p>מספר השיעורים: {{ course?.countLessons }}</p>
        <i [ngClass]="'pi ' + (course.learningWay | learningWay)"></i>
        <p>אופן הלמידה: {{ course.learningWay }}</p>
        <p [ngClass]="{ 'current-week': isCurrentWeek }">תאריך התחלת למידה: {{ formattedBeginningDate }}</p>
        <ul>
          <li *ngFor="let topic of course?.silibus">
            <i class="pi pi-book" style="font-size: 1.0rem"></i> {{ topic }}
          </li>
        </ul>
        <ng-template pTemplate="footer">
          <p-button *ngIf="isTeacher(course?.speacherId)" label="Update" icon="pi pi-pencil"></p-button>
          <p-button label="All Courses" icon="pi pi-server" styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
      </div>
      <ng-template pTemplate="footer">
        <p-button *ngIf="isTeacher(course?.speacherId)" label="Update" icon="pi pi-pencil"></p-button>
        <p-button label="All Courses" icon="pi pi-server" styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </div>
  </p-card>
</div> -->
<div class="card flex justify-content-center" *ngIf="course">
  <p-card [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="{{ course.name }}" [src]="course.image" />
    </ng-template>
    <div>
      <div *ngIf="showLimitedDetails">
        <h2>{{ course.name }}</h2>
        <p>מספר השיעורים: {{ course.countLessons }}</p>
    <p>
  <i class="{{ course.learningWay | learningWay }}"></i> אופן הלמידה: {{ getLearningWay(course.learningWay) }}
</p>
      </div>
      <div *ngIf="!showLimitedDetails">
        <h2>{{ course.name }}</h2>
        <p>קטגוריה: {{ getCategoryIcon(course.categoryId) }}</p>
        <p>מספר השיעורים: {{ course.countLessons }}</p>
        <i class="{{ course.learningWay | learningWay }}"></i> <!-- שימוש ב-PIPE כאן -->
        <p>אופן הלמידה: {{ course.learningWay }}</p>
        <p [ngClass]="{ 'current-week': isCurrentWeek }">תאריך התחלת למידה: {{ formattedBeginningDate }}</p>
        <ul>
          <li *ngFor="let topic of course.silibus">
            <i class="pi pi-book" style="font-size: 1.0rem"></i> {{ topic }}
          </li>
        </ul>
        
        <p-button (click)="O()" *ngIf="isTeacher(course.speacherId!)" label="Update" icon="pi pi-pencil"></p-button>
        <p-button (click)="go()" label="All Courses" icon="pi pi-server" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        
      </div>
    </div>
  </p-card>
</div>
